

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Candidate Self Service</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a routerLink="/dashboard">HOME</a></li>
        <li class="active"><a routerLink="/application">APPLICATION</a></li>
        <li class=""><a routerLink="/jobList">JOBS</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container container-body">
    <router-outlet></router-outlet>
    <!-- <div *ngFor="let arrr of resArr" >
   
        <app-dynamic-form [questions]="arrr.Value" [name]="arrr.name"></app-dynamic-form>
    </div> -->
    <!-- <app-dynamic-form [questions]="questions"></app-dynamic-form> -->
  </div>

