  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#{{name}}">{{name}}</a>
          </h4>
        </div>
        <div id="{{name}}" class="panel-collapse collapse">
          <div class="panel-body">
              <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <form (ngSubmit)="onSubmit()" [formGroup]="form">
                              <div *ngFor="let question of questions" class="form-row">
                                <app-question [question]="question" [form]="form"></app-question>
                              </div>
                              <div class="form-row">
                                <button type="submit" [disabled]="!form.valid">Save</button>
                              </div>
                            </form>
                            <div *ngIf="payLoad" class="form-row">
                              <strong>Saved the following values</strong><br>{{payLoad}}
                            </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>